
body {
    background-color: black;
    width: 1200px;
   
    
}

.first {
    
    background-color: white; 
    height: 300px; 
    width: 49%;
    position: absolute;
}
.first h1 {
    font-size: 20px; 
}


.second {
    background-color: white;
    height: 300px;
    width: 49%;
    margin-left:600px; 
    position: absolute;
   
}
.second h1 {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .second {
            margin-left: 0px;
            margin-top: 350px;
            width: 100%;
        }
        .second h1 {
            font-size: 16px;
        }
    .first {
        width: 100%;
    }
    .first h1 { 
        font-size: 16px;
    }



    }
    @media only screen and (max-width: 350px) {
    .second {
        margin-left: 0px;
        margin-top: 350px;
        width: 100%;
        background-color: yellow;

    }
    .first {
        width: 100%;
        background-color: blue; 
    }

}